* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'phetsarath OT', sans-serif;
}

body {
    background: linear-gradient(135deg, #5dd0f0dd, #d4fbff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    position: relative;
    

    h2 {
        font-size: clamp(1.5rem, 7vw, 2rem);
        margin: 20px 0;
    }

    .status-bar {
        display: flex;
        justify-content: space-around;
        margin: 15px 0;
        font-weight: bold;
        font-size: clamp(14px, 4vw, 1.4rem);
    }

    #gameBoard {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
        
        .card {
            width: 100%;
            padding-bottom: 100%;
            perspective: 1000px;
            position: relative;
        }

        .card-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transgform .6s;
            transform-style: preserve-3d;
            cursor: pointer;
            border-radius: 10px;
        }

        .card.flipped .card-inner {
            transform: rotateY(180deg);
        }

        .card-front, .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: clamp(1rem, 5vw, 2rem);
        }

        .card-front {
            background: #5dd0f0dd;
            color: white;
            transform: rotateY(180deg);
        }

        .card-back {
            background: #eff5f7;
        }

    }

    #startBtn {
        margin-top: 1.2rem;
        padding: 10px 20px;
        border: none;
        font-size: clamp(14px, 5vw, 1.2rem);
        background: #3489db;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    #startBtn:hover {
        background: #2980b9;
    }

    #restartBtn {
        margin-top: 1.2rem;
        padding: 10px 20px;
        border: none;
        background: #3489db;
        font-size: clamp(14px, 5vw, 1.2rem);
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    #restartBtn:hover {
        background: #2980b9;
    }

    .hidden {
        display: none;
    }

    #gamePopup {
        background-color: #2a3e4c;
        width: 300px;
        padding: 50px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1.5rem;

        #closeBtn {
            margin-top: 1.2rem;
            padding: 10px 20px;
            border: none;
            background: #3489db;
            font-size: clamp(14px, 5vw, 1.2rem);
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        #closeBtn:hover {
            background: #2980b9;
        }
        
    }
}
